.column {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: start;
}

.col2 {
  flex-basis: 30%;
  min-width: 400px;
}

.col2 img {
  max-width: 100%;
}

.col2 ul {
display: inline-block;
}
h1 {
  text-align: center;
}

.new {
align-items: center;
}
